// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


/* トップ画面 */

strong {
    font-weight: bold;
}

p {
    display: block;
    unicode-bidi: isolate;
}